<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <title>Vanna Test</title>
</head>
<body>
  <div id=nav>
    <%=nav%>
  </div>
<%= yield %>

</body>
</html>
